body {
  background-color: #edf6f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.removed {
    display: none;
  }

.centered {
  margin: auto;
  width: 75%;
}

.button {
  /* margin: auto;
  width: 15%; */
  background-color: #FFDDD2;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* display: block; */
}

.button:hover {
  background-color: #E29578;
}

.highlight {
  border: 3px solid black;
}

.image {
  width: 64px;
  height: 64px;
}